.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.imgStyle {
	height: 150px;
	margin-top: 20px;
	margin-left: 10px;
	border: 1.5px solid #cad3f5;
	border-radius: 8px;
}

.mainContainer span {
	text-decoration: underline;
	font-weight: 700;
	font-style: italic;
}

.mainContainer p {
	text-align: center;
}

.mainContainer a {
	transition: 0.5s ease-in-out;
}

.mainContainer a:hover {
	text-decoration: none;
	transform: scale(1.2);
	color: deeppink;
}

.mainContainer > h1 {
	text-decoration: underline;
	font-size: 32px;
	font-weight: 500;
}

.div247 {
	transition: 01s ease-in-out;
}

.showing {
	margin-top: 10px;
}
